<div class="jumbotron bg-light mb-3" data-bs-theme="light">
  <h2 class="heading mt-5">Filtra noticias por pais y categoria</h2>
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <form>
        <div class="form-group mt-3">
          <select name="categoria" class="form-select">
            <option>1</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <select name="pais" class="form-select">
            <option>1</option>
          </select>
        </div>
      </form>
      <div class="d-grid gap-2 mt-5 mb-5">
        <button class="btn btn-lg btn-primary" type="button">Buscar</button>
      </div>
    </div>
  </div>
</div>